html	{
	/* background-image: url('/images/bg3.png'); */
	background-color: #515151;
	background-position: top center;
	background-repeat:no-repeat;
}



#container	{

	/*padding-top: 400px; */
	text-align:center;
	color: white;
	font-family: Arial,sans-serif;
	font-size: 153.9%;
}
h2	{
	font-weight: bold;
}

a		{
	color: white;
	text-decoration: none;
}
#centerimg	{
	padding: 30px;
}